html {
    background-color: #222;
}

body {
    background-color: lightgrey;
    text-align: center;
    max-width: 80%;
    height: 1000px;
    margin: -30px auto 0px;
}

#navbar {
    padding-top: 80px;
}

#nav_brand {
    margin-left: 0;
    display: inline-block;
    text-align: left;
    float: left;
}

#nav_note {
    margin-right: 0;
    display: inline;
    text-align: right;
    float: right;
}

.main {
    clear: both;
}

.twothings {
    background-color: red;
    padding: 40px;
}

#thing_1 {
    background-color: green;
    padding: 20px;
}

#thing_2 {
    background-color: blue;
    padding: 20px;
}